#myTab{float: left;
width: 100%;}
.navbar .nav>li{ float: none; }

.question{ 
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border: solid 2px #990000;
padding: 8px;
min-height: 120px;
position: relative;
margin-top: 40px;
margin: 0px 10px;
background-color: #DDD;
box-shadow: 2px 2px 4px #CCC;
}
.answer, .answerChoice{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.answer{ display: block; height: 44px; background-color: #990000; box-shadow: 2px 2px 4px #CCC; margin-bottom: 6px; position: relative;}
.answerChoice{ width: 68px; min-height: 32px; border: solid 2px #990000; font-size: 90%; line-height: normal; padding: 4px; background-color: #DDD;}
/*.dropped{ width: 88%; top: 8px; left: 8px; border-color: #990000 !important;}*/
.dropped{ border-color: #990000 !important;}

#answersList, #answersSubmit, #answersButtons{ margin-top: 20px; position: relative;}
.question > .answerChoice{ position: absolute; top: 8px; left: 8px; width: 88%; border-color: green; z-index: 99;}
#answersList{ padding: 0px; margin: 0px auto; display: table;}
#answersList li{ list-style: none; float: left; display: inline; margin-right: 10px;}
.correct{ background-color: #d6e9c6; border-color: green; }
.correct .dropped{ border-color: green !important;}
.hoverClass{ border: dotted 1px #C09849; background-color: #fcf8e3;}
.elHoverClass{ width: auto !important;}

#L2S4 #anim2Link{ position: absolute;}
#L2S4 .span4{ position: relative; }

/*****/
#L3S1 .span7{ background-size: cover; background-repeat: no-repeat; background-position: 0 0; min-height: 500px;}
#iconList{ margin: 20px auto 0px auto; display: table;}
#iconList li{ list-style: none; float: left; margin-right: 10px;}
.videoNav{ background: url("../img/videoanim/cloud2.png") no-repeat center center; background-size: contain; height: auto; padding: 45px; margin-top: 10px;
width: 65%; margin: auto;
}

.comparison{ margin: 10px auto 20px;}
.comparison.iphone > div{ width: 49%; float: left; position: relative; text-align: center; border: solid 1px transparent;}
.comparison.iphone > div:last-child{ margin-left: 50%; float: none;}
.comparison.iphone > div img{ max-width: 60% !important}

.comparison button{ margin: 10px auto; display: table; }

.fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

#puzzle li{ list-style: none;}
#blockDrop{ margin:0px auto 20px; display: table; background-color: #F9F9F9; border: 1px solid #CCC;
display: table; width: 284px; position: relative; height: 566px;
}
#blockDrop li{ float: left; width: 198px; position: absolute; top: -28px; left: -28px;}

#blockDrop li:nth-child(1n){}
#blockDrop li:nth-child(2n){left: 114px;}
#blockDrop li:nth-child(3n){top: 114px;}
#blockDrop li:nth-child(4n){top: 114px; left: 114px;}
#blockDrop li:nth-child(5n){top: 256px;}
#blockDrop li:nth-child(6n){top: 256px; left: 114px;}

#blockDrop li img{ opacity: 0.2; max-width: initial;}
.dropPlace, .dropContainer{ position: relative;}
.dropContainer span{ position: absolute; top: 30%; left: 20%; font-size: 12px; width: 50%; display: inline-block;}
#blockDrop .dropPlace .dropped{ opacity: 1; position: absolute; z-index: 1; top: 0px; left: 0px;}
#blockDrop .dropPlace .dropped img{ opacity: 1}
#blocks{ display: table; margin: auto;}
#blocks li{ float: left; margin-right: 5px; width: 140px;}
#blocks li img{ max-height: initial; }

@media screen and (max-width: 600px) {
  body{zoom: 100%;}
  #puzzle{ zoom: 60%; }
  #blockDrop li{ }
  #blocks li{  }
  .dropContainer span{ width: 50%; font-size: 11px} 
}


