<p>&nbsp;</p>
<p>The deformed stepping motor that acts a driving source utilizes the mutual opposing and attracting forces of magnets attached to the stator and rotor to rotate the rotor by one step for every electrical pulse. When an aperture value signal is sent from the camera body, the lens built-in microcomputer converts the signal into the corresponding number of pulses.</p>
<p>The rotating ring is driven by exactly this number of pulses and the aperture blades linked to the rotating ring move to change the diameter of the diaphragm.</p>

<div ng-controller="animation2" class="row" id="L2S4">
  <div class="span4">
    <span id="anim1"></span>
    <a href="javascript:;" ng-click="anim2Link()" id="anim2Link" ng-show="false" eatClick>Click the Stator to learn about the movement of the Stator and Rotor</a>
  </div>
  <div class="span6">
    <span id="anim2" ng-show="false"></span>
  </div>

  <img src="img/anim1.gif" class="hide">
  <img src="img/anim2.gif" class="hide">
</div>