<div ng-controller="puzzleCtrl" id="puzzle">
  <div class="row">
    <div class="span5">
      <ul id="blockDrop" style="height:{{height}}px">
        <li data-ng-repeat="block in blocks|limitTo:initPuzzle"><div class="dropPlace block{{$index}}" droppable><img ng-src="{{block}}" alt=""></div></li>
      </ul>
    </div>

    <div class="span5 mobileRow">
      <p class="text-center message">Drag the follow pieces to the above area</p>
      <ul id="blocks" dropback my-main-directive>
        <li data-ng-repeat="block in blocks" my-repeat-directive><div draggable class="dropContainer"><img ng-src="{{block}}" alt="" class="block{{$index}}"><span>{{blockText[$index]}}</span></div></li>
      </ul>
      <div class="alert alert-success hide" id="success"><h4>You have completed the puzzle</h4></div>
    </div>
  </div>
</div>

