<div class="container">
  <p class="red-strip">Difference between EOS M and EOS D-SLRs</p>
  <p><strong>Function Difference</strong></p>
  <div class="row">
    <div class="span6">
      <p class="btn btn-block red-gradient">EOS M</p>
      <div class="rounded-box graybg">
        <ul class="unstyled">
          <li>Viewfinder: LCD monitor (Live View Display)</li>
          <li>AF:Phase-difference AF</li>
          <li>Light meter/control:Imaging area light meter/control)</li>
        </ul>
        <p class="text-center"><img src="img/EOSM.png" /></p>
      </div>
    </div>
    <div class="span6">
      <p class="btn btn-block red-gradient">EOS</p>
      <div class="rounded-box graybg">
        <ul class="unstyled">
          <li>Viewfinder: Optical Viewfinder</li>
          <li>Viewfinder: LCD Monitor(Live View Display)</li>
          <li>Light meter/control: Optical Viewfinder + Light meter/control</li>
        </ul>
        <p class="text-center"><img src="img/EOS650D.png"/></p>
      </div>
    </div>
  </div>
</div>
