<p>&nbsp;</p>
<p>Why is it possible to check images and focus in the viewfinder?</p>
<p>Light, which is reflected on the mirror and becomes an image on the focusing screen, passes through the pentaprism (or more precisely a pentagonal Dach prism) and reaches the eyepiece.</p>

<div ng-controller="animation">
    <span id="anim1"></span>
    <a href="javascript:;" ng-click="anim2Link()" id="anim2Link" ng-show="false" eatClick>Click here to watch next</a>
    <span id="anim2" ng-show="false"></span>
    <img src="img/anim1.gif" class="hide">
    <img src="img/anim2.gif" class="hide">
</div>