
<div class="container" >

  <p class="red-strip">High-speed noise reduction processing even at high ISO speeds</p>
  <p>With earlier EOS Digital cameras	, setting Hight ISO Noise Reduction to "strong" would reduce the number of  shots that could be captured in a continuous burst. This is  because images had to remain in the buffer longer than normal in order to undergo noise processing in multiple sequence.With  DIGIC 5+, images undergo the various processes simultaneously. This eliminates the problem of a drop in performance of the maximum continuous shooting burst.Noise processing is also more effective due to more extensive pixel analysis. Shadow color noise and graininess are prevented, contributed to higher ISO speeds and image quality</p>
	<p style="padding-left:150px"><strong>Noise Reduction Processing</strong></p>
<span style="padding-left:178px"><img src="img/arrow.png"></span>

	<div class="row">
    <div class="span2 text-right">EOS-1DS Mark III<br/> (Dual DIGIC III)</div>
    <div class="span10"><span class="fluorescent-green">A</span><span class="yellow-green">B</span><span class="pigment-green">C</span><span class="fluorescent-green">A'</span><span class="yellow-green">B'</span><span class="pigment-green">C'</span> </div>
  </div>
  
  
  <div class="row mrgtp10">
	
    <div class="span2 text-right">EOS-1D Mark IV<br/> (Dual DIGIC 4)</div>
    <div class="span10"><span class="fluorescent-green">A</span><span class="yellow-green">B</span><span class="pigment-green">C</span><div class="clear"></div> <span class="fluorescent-green">A'</span><span class="yellow-green">B'</span><span class="pigment-green">C'</span> </div>
  </div>
  
 
  
  
  
  <div class="row mrgtp10">
	
    <div class="span2 text-right">EOS-1DS X<br/> (Dual DIGIC 5+)</div>
    <div class="span10"><span class="fluorescent-green">A</span><div class="clear"></div><span class="yellow-green">B</span><div class="clear"></div><span class="pigment-green">C</span><div class="clear"></div><span class="fluorescent-green">A'</span><div class="clear"></div><span class="yellow-green">B'</span><div class="clear"></div><span class="pigment-green">C'</span> </div>
  </div>
</div>
